.masonry-grid {
  column-count: 4;
  column-gap: 16px;
  padding: 20px;
}

@media (max-width: 992px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .masonry-grid {
    column-count: 1;
  }
}

.masonry-item {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}